# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# Virtual environments
.venv/
env/
venv/

# Jupyter checkpoints
.ipynb_checkpoints/



# Models
models/



# Reports
reports/

# OS files
.DS_Store
Thumbs.db

anaconda_projects/